/* css/style.css */

@import url('https://fonts.googleapis.com/css2?family=Pretendard:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard', sans-serif;
  background-color: #f4f4f4;
  color: #111;

  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 1200px;

  margin: auto;
  padding-top: 50px;
}

/* 상단 */

.hero {
  margin-bottom: 50px;
}

.sub-title {
  color: #888;
  margin-bottom: 10px;
  font-size: 14px;
}

.hero h1 {
  font-size: 56px;
  margin-bottom: 40px;
}

/* 오늘의 메뉴 */

.today-card {
  background-color: white;

  border-radius: 24px;

  padding: 40px;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.05);
}

.today-label {
  color: #999;
  font-size: 14px;
  letter-spacing: 2px;
}

#today-menu {
  font-size: 42px;
  margin: 20px 0;
}

button {
  border: none;

  background-color: #111;
  color: white;

  padding: 14px 24px;

  border-radius: 14px;

  cursor: pointer;

  font-size: 15px;

  transition: 0.2s;
}

button:hover {
  transform: translateY(-2px);
}

/* 메뉴 카드 */

.menu-grid {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 25px;
}

.menu-card {
  background-color: white;

  border-radius: 24px;

  padding: 35px;

  cursor: pointer;

  transition: 0.25s;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.05);
}

.menu-card:hover {
  transform: translateY(-6px);

  box-shadow:
    0 18px 40px rgba(0,0,0,0.08);
}

.card-icon {
  font-size: 42px;
  margin-bottom: 20px;
}

.menu-card h2 {
  margin-bottom: 12px;
  font-size: 28px;
}

.menu-card p {
  color: #666;
  line-height: 1.5;
  margin-bottom: 30px;
}

.move-text {
  font-weight: 600;
}

/* 반응형 */

@media (max-width: 768px) {

  .hero h1 {
    font-size: 40px;
  }

  #today-menu {
    font-size: 30px;
  }

  .menu-grid {
    grid-template-columns: 1fr;
  }

}